* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    min-height: 100vh;
}

.header {
    grid-column: 1 / 3;

    padding: 30px;
    text-align: center;
    background-color: #2934b5;
    color: white;
}

.sidebar {
    padding: 30px;
    background-color: white;
    border: 1px solid #ccc;
}

.main {
    padding: 30px;
    background-color: white;
    border: 1px solid #ccc;
}

.footer {
    grid-column: 1 / 3;

    padding: 30px;
    text-align: center;
    background-color: #222;
    color: white;
}
